.header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 20px;
}

.header a {
  text-decoration: none;
  background-color: lightgray;
  border-radius: 5px;
  padding: 10px 20px;
  color: #000;
}

footer {
  margin-top: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  background-color: lightgray;
}