.catalog .toggler {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.catalog .category-btn {
  padding: 10px 20px;
  cursor: pointer;
}

.catalog .category-btn.active {
  border: 1px solid grey;
  border-radius: 5px;  
}

.catalog .category-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.catalog .category-list-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
  height: 300px;
  justify-content: center;
  border: 1px solid grey;
  padding: 20px;
  border-radius: 5px;
}